.header {
  text-align: center;
  font-size: 10;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.15;
  font-family: 'Courier New', Courier, monospace;
  padding: 13px;
  margin: 10px;
  box-sizing: border-box;
  display: block;
}

/* .header_page {
  background-color: lightgrey;

} */

.top_link1 {
  position: absolute;
  top: 10px;
  right: 40px;
}

.top_link2 {
  position: absolute;
  top: 10px;
  right: 100px;
}

.sign_out {
  position: absolute;
  top: 10px;
  right: 40px;
}

.header_subtext1 {
  text-align: center;
  font-size: 7;
  font-weight: 600;
  /* letter-spacing: 1px;
  line-height: 1.15; */
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  display: block;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 75%; /* Adjust this value to move the positioned div up and down */
  /* width: 60%; Set the width of the positioned div */


}

.header_subtext2 {
  text-align: center;
  font-size: 7;
  font-weight: 600;
  /* letter-spacing: 1px;
  line-height: 1.15; */
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  display: block;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 78%; /* Adjust this value to move the positioned div up and down */
  /* width: 60%; Set the width of the positioned div */

}


.header_subtext {
  text-align: center;
  font-size: 7;
  font-weight: 600;
  /* letter-spacing: 1px;
  line-height: 1.15; */
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  display: block;

}

.photo {
  width: 60%;
  height: 400%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border {
  background-color:darkred;
}

.button {
  background-color: darkslateblue;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}


input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.book_button {
  background-color: white;
  color: black;
  border: 2px solid slateblue;
  text-align: center;
  position:relative;


}

.book_button:focus {
  background-color: slateblue;
  color: white;
  border: 2px solid black;
  margin: auto;

}

.container {
  columns: 3 auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr)); 
}

.li_no_bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; 
  margin: 0; 
  border: 1px solid gray;

  padding-bottom: 20px;
}


.book_title_text {
  font-weight: bold;
  font-size: 15px;
  text-align: center;

}

.book_author_text {
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  margin: 0
}

.thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.search_li_no_bullets {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
} 

.search_book_title_text {
  font-weight: bold;
  font-size: 15px;
}

.search_book_author_text {
  font-weight: normal;
  font-size: 14px;
  margin: 0
} 

