.header {
  text-align: center;
  font-size: 10;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.15;
  font-family: 'Courier New', Courier, monospace;
  padding: 13px;
  margin: 10px;
  box-sizing: border-box;
  display: block;
}

.top_link1 {
  position: absolute;
  top: 10px;
  right: 40px;
}

.top_link2 {
  position: absolute;
  top: 10px;
  right: 100px;
}

.header_subtext {
  text-align: center;
  font-size: 7;
  font-weight: 600;
  /* letter-spacing: 1px;
  line-height: 1.15; */
  font-family: 'Courier New', Courier, monospace;
  /* padding: 13px;
  margin: 10px; */
  box-sizing: border-box;
  display: block;

}